.activitie-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(700px, auto);
    gap: 2em;
    padding: 2em;
}

.activitie-section .activitie-article {
    grid-column: 2/4;
}

.activitie-article-title {
    font-family: var(--main-title-font);
    font-weight: normal;
    font-size: 3em;
    color: #444444;
    margin-bottom: .5em;
}

.activitie-description {
    font-family: var(--main-text-font);
    text-align: justify;
}

.activitie-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.activitie-wrapper iframe {
    width: 100%;
}

.activitie-wrapper cite {
    color: #444444;
}