.autors-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 2em;
    padding: 2em;
}

.autor-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background: rgb(41,52,98);
    background: linear-gradient(180deg, rgba(41,52,98,1) 0%, rgba(41,52,98,1) 44%, rgba(255,255,255,1) 44%);
}

.autor-wrapper .avatar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #CCC;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 8px solid white;
}

.autor-wrapper .autor-info-wrapper {
    grid-column: 2/4;
    grid-row: 1/3;
    padding: 1em;
}

.autor-name {
    font-family: var(--main-title-font);
    font-size: 1.8em;
    font-weight: normal;
    color: var(--main-bg-color);
    margin-bottom: 20px;
}

.autor-code, .autor-program, .autor-email, .autor-skype {
    font-family: var(--main-text-font);
    font-weight: normal;
    color: #444;
}

.autor-wrapper:nth-child(1) > .avatar {
}