.lecture-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(700px, auto);
    gap: 2em;
    padding: 2em;
}

.lecture-section .lecture {
    grid-column: 2/4;
}

.lecture-title {
    font-family: var(--main-title-font);
    font-weight: normal;
    font-size: 3em;
    color: #444444;
    margin-bottom: .5em;
}

.lecture-paragraph {
    font-family: var(--main-text-font);
    text-align: justify;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.image-wrapper img {
    width: 100%;
}

.image-wrapper cite {
    color: #444444;
}